<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Птахи України</title>

  {% load static %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;subset=cyrillic" rel="stylesheet">
    <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous">
</script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
  <script src="{% static 'js/bootstrap.min.js' %}"></script>


</head>
<body class="body">
<header class="header">
    <img src="{% static 'mainApp/images/birds-logo.png' %}" alt="logo" class="logo">
</header>

<nav class="nav">
    <ul class="menu">
        <li><a href="/">Головна</a></li>
{% comment %}        <li class="sub-menu-trigger">
            <a href="#" >galleries</a>
            <ul class="sub-menu">
                <li><a href="#">item1</a></li>
                <li><a href="#">item2</a></li>
                <li><a href="#">item3</a></li>
                <li><a href="#">item4</a></li>
                <li><a href="#">item5</a></li>
                <li><a href="#">item6</a></li>
            </ul>
        </li>

        <li><a href="#">features</a></li>
        <li><a href="#">blog</a></li>
        <li><a href="#">contact</a></li>
         <li><a href="/contact">Контакти</a></li>
         {% endcomment %}
        <li><a href="/news">Лісові</a></li>
        <li><a href="/waterfowl">Прибережні</a></li>

    </ul>
</nav>

<div class="content">

    <div id="carousel" class="carousel slide " data-ride="carousel" data-interval="4000">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="img-fluid" src="{% static 'mainApp/images/slider1.jpg' %}" >
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="{% static 'mainApp/images/slider2.jpg' %}" >
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="{% static 'mainApp/images/slider3.jpg' %}" >
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#carousel" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#carousel" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>
<div class="mainpage-text">
    <h4 style="text-align: center; color: white; padding: 20px">Птахи України: орнітофауна Центральної Європи</h4>
<p class="mainText" style="padding: 0 30px 20px 30px">Орнітофауна України нараховує 424 види птахів. Серед них 267-270 гніздові, з яких 132-138 зимуючі; 17 з'являються лише на зимівлі, 129 спостерігаються лише у період сезонних міграцій або мають статус залітних. Птахи, що зустрічаються в Україні, належать до 21 систематичного ряду.</p>
    <p class="mainText" style="padding: 0 30px 20px 30px">Наприклад, заліт дрозда Свенсона був зареєстрований лише один раз 10 листопада 1893 року під Харковом, і він теж занесений до фауни України, але гніздиться тільки у Північній Америці.</p>
    <p class="mainText" style="padding: 0 30px 20px 30px">Найбільшим різноманіттям відрізняється ряд горобцеподібних, їх нараховують 172 види. Також численними є ряди сивкоподібних — 79 видів, гусеподібних — 38 видів, соколоподібних — 35 видів. Ряди фламінгоподібних, папугоподібних, дрімлюгоподібних та одудоподібних на території України представлені лише по 1 виду.</p>
</div>


    <footer class="footer">
      <p class="footerText">
          За детальною інформацією телефонуйте:<br> (055) 055 5555 555<br>
          &copy; NeedApps 2018
      </p>

  </footer>
</div>

</body>
</html>

