html {
    box-sizing: border-box;
    position: relative;
    min-height: 100%;
}

.body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 100px;
}
* {
    box-sizing: inherit;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.header {
    height: 75px;
    background-color: #343434;
    padding: 10px 0;
    border-bottom: 1px solid #1f1f1f;
}

.footer{
    background-color: #343434;
    border-bottom: 1px solid #1f1f1f;
    text-align: center;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}

.logo {
    display: block;
    margin: 0 auto;
}

.nav {
    background-color: #343434;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #1f1f1f;
}

.menu {
    background-color: inherit;
}

.menu li {
    cursor: pointer;
    background-color: inherit;
}

.menu > li {
    display: inline-block;
    padding: 10px;
}

.menu > li:hover {
    background-color: #505050;
}

.menu a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
}

.menu .sub-menu {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    background-color: #3d3d3d;
    width: 150px;

}

.menu .sub-menu > li {
    padding: 4px 8px;
}

.menu .sub-menu > a {
    text-transform: unset;
}

.menu .sub-menu > li:hover {
    background-color: #343434;
}

.menu .sub-menu-trigger {
    position: relative;
}

.content {
    min-height: calc(100vh - 114px);
    background-color: #4e4e4e;
}

.mainText{
    text-align: justify;
    color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 40px 120px 40px 40px;
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

/*.footer-detail {
    background-color: #343434;
    !*padding: 10px 0;*!
    border-bottom: 1px solid #1f1f1f;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;


}*/

.footerText{
    padding: 10px;
    color: white;
    margin: 0 auto;

}


.item {
    width: 500px; /* or whatever is required */
    text-align: center; /* ensures the image is always in the h-middle */
    overflow: hidden; /* hide the cropped portion */
}

.item img {
    position: relative; /* allows repositioning */
    left: 100%; /* move the whole width of the image to the right */
    margin-left: -200%; /* magic! */
}

.thumb-post {
    width: 100%; /* or whatever is required */
    text-align: center; /* ensures the image is always in the h-middle */
    overflow: hidden; /* hide the cropped portion */
}

.thumb-post img {
    position: relative; /* allows repositioning */
    left: 100%; /* move the whole width of the image to the right */
    margin-left: -200%; /* magic! */
}

.masonry { /* Masonry container */
    column-count: 4;
    column-gap: 1em;
    padding: 20px;
}

.item { /* Masonry bricks or child elements */
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}




.item-image {
    position: relative;
}

.caption {
    position: absolute;
    top: 85%;
    left: 0;
    width: 100%;
}
.title-image {
    display: inline;
    color: white;
    text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
    margin: 0 auto;
    font-size:24px;
}

.image-detail {
    float: left;
    margin-right: 50px;
    margin-bottom: 25px;
}

.allcontentdetails {
    width: 80%;
    margin: 0 auto;
}

/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
  .masonry {
    column-count: 4;
  }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    column-count: 3;
  }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) {
  .masonry {
    column-count: 2;
  }
    .image-detail{
        margin: 0;
    }
    .item-image{
        margin: 0;
        padding: 0;
    }
    .img-thumbnail{
        margin: 0;
        padding: 0;
    }
    .caption{
        top:70%;
    }
    .title-image{
        font-size: 14px;
    }


}

