html {
    box-sizing: border-box;
    position: relative;
    min-height: 100%;

  scrollbar-face-color: #646464;
  scrollbar-base-color: #646464;
  scrollbar-3dlight-color: #646464;
  scrollbar-highlight-color: #646464;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: #000;
  scrollbar-shadow-color: #646464;

}
::-webkit-scrollbar { width: 8px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #646464;}
::-webkit-scrollbar-track-piece { background-color: #000;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #646464;}
::-webkit-resizer { background-color: #666;}

.body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

* {
    box-sizing: inherit;
}

.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 75px;
    background-color: #343434;
    padding: 10px 0;
    border-bottom: 1px solid #1f1f1f;
}

.footer {
    background-color: #343434;
    border-top: 1px solid #1f1f1f;
    text-align: center;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footerText {
    color: white;
    margin: 0 auto;
    padding: 10px 0 10px 0;
    height: 50px;

}

.logo {
    display: block;
    margin: 0 auto;
}
.logo-mobile{
    display: none;
}

/*----------------
navigation menu*/

.bg-dark {
    background-color: #343434!important;
    border-bottom: 1px solid #1f1f1f;
}

.dropdown-menu{
    background-color: #343434;
    margin: 0;
    padding: 0;

}
.dropdown-item{
    color: white;
    padding: .5rem;
}
.dropdown-item:hover{
    color: white;
    background-color: #272727;
}


.nav-item{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: normal;
    padding: .5rem 1rem;

}
.navbar {
    padding: 0;
    position: absolute;
    left: 0;
    top: 75px;
    width: 100%;
}

.nav-item:hover{
    background-color: #414141;

}
.dropdown-item{
    text-transform: uppercase;
     font-size: 12px;
     font-weight: normal;
}

.navbar-dark .navbar-toggler {
    border-color: transparent;
}

button:focus {
    outline: none;
}
/*----------------
end of navigation menu*/

.content { /*all screen with background color*/
    padding-top: 125px;
    min-height: 100vh;
    background-color: #4e4e4e;
}
.detail-content {
    /*all screen with background color*/
    height: 100vh;
    padding: 165px 0 90px 40px;
    background-color: #4e4e4e; }

.mainText { /* text on main page*/
    text-align: justify;
    color: white;
    padding: 0 30px 20px 30px;
}
.mainpage-text{
    padding-bottom: 100px;
}

/*-------------------------
masonry container - catalog*/
.masonry {
    column-count: 4;
    column-gap: 1em;
    padding: 20px;
}

.imagebox {
    background: black;
    margin-bottom: 10px;
    position: relative;
    text-align: center;
    width: 100%;
}

.imagebox img {
    opacity: 1;
    transition: 0.5s opacity;
}

.imagebox .imagebox-desc {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    color: white;
    font-size: 1.2em;
    left: 0;
    padding: 10px 15px;
    position: absolute;
    transition: 0.5s padding;
    text-align: center;
    width: 100%;
}

.imagebox:hover img {
    opacity: 0.7;
}

.imagebox:hover .imagebox-desc {
    padding-bottom: 10%;
}

/*--------------------------------
 end of masonry layout - catalog*/

/*------------
detail page*/

.detail-text {
    width: 30%;
    height: 100%;
    overflow-y: auto;
    float: right;
    text-align: justify;
    color: white;
    background-color: #343434;
    padding: 16px;
    border: 1px solid #1f1f1f;
}

.slider {
    white-space: nowrap;
    overflow-x: auto;
    height: 100%;
    width: 70%;
    float: right;
}

.slider-child{height: 100%;}

.slick-list{height: 100%;}

.slick-track{height: 100%}

.slick-prev {left: 5%; z-index: 1;}

.slick-next {right: 5%;}

.slick-dots{bottom: 5%;}

.slick-dotted.slick-slider {margin-bottom: 0;}

.slick-dots li button:before{font-size:30px; color:white;}

.slick-dots li.slick-active button:before{color:white;}

.slick-dots li button:focus:before {opacity: 0.25;}

.slick-dots li.slick-active button:focus:before {opacity: .75; color: white;}

.image-detail {
    display: inline-block;
    object-fit: cover;
}
.title-detail{
    text-align: center; color: white; padding-bottom: 15px; padding-top: 10px;}

.audio{
    margin: 0 auto; display: table;
}


/*------------
end of detail page*/


/*large screens */
@media only screen and (min-width: 1025px) {
    .masonry {column-count: 4;}

}

/*large screens */
@media only screen and (max-width: 1220px) and (min-width: 1131px) {
    .masonry {
        column-count: 4;
    }

    .detail-content {
        padding: 135px 0 60px 10px;
    }
}

    /*large screens */
@media only screen and (max-width: 1130px) and (min-width: 1026px) {
    .masonry {column-count: 4;}

    .detail-content {
            padding: 126px 1px 51px 1px;
        }

}

/*medium-sized screens */
@media only screen and (max-width: 1024px) and (min-width: 769px) {

    .masonry { /*3 columns of catalog*/
        column-count: 3;
        padding: 5px;
        column-gap: 5px;
    }
    .image-detail {height: 400px;}  /*detail page slider*/

    .slider-child{height: 400px;}

    .slick-list{height: 400px;}

    .slick-track{height: 400px;}

    .imagebox {margin-bottom: 5px;}  /*catalog image*/

    .imagebox .imagebox-desc {font-size: 16px; padding: 2px 5px;} /*catalog title*/

    .detail-content {background-color: #343434; padding: 125px 0 50px 0;}  /*detail page*/

    .slider {width: 100%; height: 400px}  /*detail page*/

    .slick-dots li button:before{font-size: 30px; color:white;}

    .detail-text {width: 100%; height: auto; margin-bottom: 50px; border: transparent}  /*detail page*/
}

/*small screens */
@media only screen and (max-width: 768px) {

    .masonry { /*2 columns of catalog*/
        column-count: 2;
        padding: 1px;
        column-gap: 2px;
    }
    .navbar {
     top: 0;
     position: static;
}

    .imagebox  {margin-bottom: 2px;}  /*catalog image*/

    .imagebox img{ height: 200px; object-fit: cover; width: 100%; margin: 0}

    .imagebox .imagebox-desc {font-size: 16px; padding: 2px 5px;}  /*catalog title*/

    .detail-content {background-color: #343434; padding: 0 0 0 0;}  /*detail page*/

    .slider {width: 100%; height: 300px}  /*detail page*/

    .slick-dots li button:before{font-size: 30px; color:white;}

    .slick-prev {display: none;}

    .slick-next {display: none;}

    .image-detail {height: 300px;}  /*detail page slider*/

    .slider-child{height: 300px;}

    .slick-list{height: 300px;}

    .slick-track{height: 300px;}

    .detail-text {width: 100%; height: auto; margin-bottom: 50px; border: transparent}  /*detail page*/

    .title-detail{font-size: 24px; padding-bottom: 10px; padding-top: 5px;}

    .imagebox:hover img {opacity: 1;}

    .imagebox:hover .imagebox-desc {padding-bottom: 0;}

    .header{display: none}

    .logo-mobile{display: block}

}
